.adminform {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label {
  width: 30%;
}

form input {
  width: 100%;
  margin-bottom: 1em;
}

button {
  width: 100%;
}
