/*-- adding the css to style the products input form--*/
.adminform {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label {
  width: 30%;
}

form input {
  width: 100%;
  margin-bottom: 1em;
}

button {
  width: 100%;
}

/*--adding the styling elements for the display of the captured products--*/
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
